@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Entertainment Agency</h1>
    <br />
    <p>We have entertainers just right for your event!</p>
    <br />
    <img src="~/img/band-image.png" />
</div>
